In [1]:
import pandas as pd

In [2]:
old_test = pd.read_parquet('data_old/test.parquet')
old_test

       order_id          create_time   good_id  price  sessionkey_id
0       1350922  1976-02-05 15:08:37   9896348   1143      132744630
1       1354989  1976-02-07 15:26:00  69445048   1707      133161905
2       1352637  1976-02-06 11:43:58  70607886    576      132792626
3       1350050  1976-02-05 11:26:19  61918401    436      132683062
4       1341733  1976-02-01 19:36:32  37964900    573      131789790
...         ...                  ...       ...    ...            ...
17191   1358397  1976-02-09 16:13:20  74484779    236      131980166
17192   1357968  1976-02-09 14:30:59  75277186    108      133527708
17193   1358835  1976-02-09 18:39:45  75382827    602      133585500
17194   1365692  1976-02-12 17:50:18  76012025    818      133876415
17195   1365429  1976-02-12 16:14:06  76010719    780      133876415

[17196 rows x 5 columns]

In [3]:
best = pd.read_csv('best.csv')
best

       order_id    target
0       1350922  0.008770
1       1354989  0.034471
2       1352637  0.321517
3       1350050  0.229180
4       1341733  0.006308
...         ...       ...
17191   1358397  0.187338
17192   1357968  0.012298
17193   1358835  0.997280
17194   1365692  0.145599
17195   1365429  0.006848

[17196 rows x 2 columns]

In [4]:
res = pd.merge(old_test, best, on="order_id", how="inner")
res

       order_id          create_time   good_id  price  sessionkey_id    target
0       1350922  1976-02-05 15:08:37   9896348   1143      132744630  0.008770
1       1354989  1976-02-07 15:26:00  69445048   1707      133161905  0.034471
2       1352637  1976-02-06 11:43:58  70607886    576      132792626  0.321517
3       1350050  1976-02-05 11:26:19  61918401    436      132683062  0.229180
4       1341733  1976-02-01 19:36:32  37964900    573      131789790  0.006308
...         ...                  ...       ...    ...            ...       ...
17191   1358397  1976-02-09 16:13:20  74484779    236      131980166  0.187338
17192   1357968  1976-02-09 14:30:59  75277186    108      133527708  0.012298
17193   1358835  1976-02-09 18:39:45  75382827    602      133585500  0.997280
17194   1365692  1976-02-12 17:50:18  76012025    818      133876415  0.145599
17195   1365429  1976-02-12 16:14:06  76010719    780      133876415  0.006848

[17196 rows x 6 columns]

In [11]:
res[res.duplicated(subset=['sessionkey_id'], keep=False)].sort_values('sessionkey_id').head(20)

,order_id,create_time,good_id,price,sessionkey_id,target,max_target
12137,1343863,1976-02-02 18:20:49,32707645,117,130388632,0.204914,0.204914
3101,1343866,1976-02-02 18:21:21,59028239,270,130388632,0.184443,0.204914
10060,1343555,1976-02-02 16:31:44,73814153,924,130674276,0.241441,0.373297
4047,1343523,1976-02-02 16:21:28,25007815,8213,130674276,0.373297,0.373297
14988,1346417,1976-02-03 19:11:37,63958078,277,130748300,0.204914,0.229180
5885,1346426,1976-02-03 19:13:07,65431835,712,130748300,0.229180,0.229180
2064,1343216,1976-02-02 14:55:54,73024103,702,130863722,0.283871,0.283871
2065,1343334,1976-02-02 15:30:50,4060428,785,130863722,0.283871,0.283871
9990,1342693,1976-02-02 12:24:26,28953379,2432,130923316,0.174231,0.174231
9989,1342625,1976-02-02 12:02:26,28952350,2432,130923316,0.174231,0.174231
7278,1343374,1976-02-02 15:41:14,44939246,2481,131059634,0.314850,0.321517
6067,1343366,1976-02-02 15:40:16,56104162,1462,131059634,0.298357,0.321517
15177,1343379,1976-02-02 15:42:31,64970901,4774,131059634,0.321517,0.321517
14983,1342970,1976-02-02 13:43:17,59028311,280,131153593,0.298357,0.298357
15608,1342930,1976-02-02 13:32:03,66995033,57,131153593,0.298357,0.298357
16952,1340812,1976-02-01 10:33:28,72633508,8,131164037,0.150332,0.150332
9299,1340815,1976-02-01 10:36:01,67809629,49,131164037,0.150332,0.150332
14009,1343950,1976-02-02 18:55:42,65144326,29299,131249734,0.472859,0.472859
4964,1343864,1976-02-02 18:20:49,37969243,8054,131249734,0.363928,0.472859
13213,1351689,1976-02-05 19:34:38,55376460,2623,131345575,0.283871,0.283871

In [10]:
res['max_target'] = res.groupby('sessionkey_id')['target'].transform('max')
res[res['target'] != res['max_target']].sort_values('sessionkey_id').head(20)

,order_id,create_time,good_id,price,sessionkey_id,target,max_target
3101,1343866,1976-02-02 18:21:21,59028239,270,130388632,0.184443,0.204914
10060,1343555,1976-02-02 16:31:44,73814153,924,130674276,0.241441,0.373297
14988,1346417,1976-02-03 19:11:37,63958078,277,130748300,0.204914,0.229180
6067,1343366,1976-02-02 15:40:16,56104162,1462,131059634,0.298357,0.321517
7278,1343374,1976-02-02 15:41:14,44939246,2481,131059634,0.314850,0.321517
4964,1343864,1976-02-02 18:20:49,37969243,8054,131249734,0.363928,0.472859
8562,1343852,1976-02-02 18:15:53,72248109,543,131499083,0.286434,0.343206
14282,1343847,1976-02-02 18:12:52,60580593,5838,131499083,0.330909,0.343206
10994,1351273,1976-02-05 16:57:10,66921494,7255,131507343,0.312158,0.321517
7627,1340989,1976-02-01 12:06:34,8788225,685,131684791,0.361673,0.516809
6122,1344799,1976-02-03 10:47:01,3785587,159,131684929,0.312158,0.321517
15605,1348516,1976-02-04 16:07:39,67036203,197,131684929,0.288834,0.321517
13937,1347264,1976-02-04 10:10:22,60181781,666,131696222,0.314850,0.330909
4971,1341507,1976-02-01 16:44:39,62774727,316,131764976,0.489341,0.502981
7658,1342410,1976-02-02 10:49:25,75022018,244,131770584,0.330909,0.338577
15365,1340784,1976-02-01 09:40:56,65509109,29,131783619,0.006848,0.052431
14128,1340878,1976-02-01 11:12:29,63963392,923,131794471,0.013535,0.184443
14318,1340922,1976-02-01 11:35:42,75208453,653,131804813,0.012970,0.060178
781,1341023,1976-02-01 12:20:26,67531297,755,131804905,0.060178,0.068926
7264,1341103,1976-02-01 12:56:18,7107527,54,131806003,0.084054,0.117221

In [12]:
res[['order_id', 'max_target']].to_csv('cheating.csv', index=False)